.about-component {
    font-family: 'Open Sans', sans-serif;

    .section-header {
      padding: 1.6rem 0;
      margin-bottom: 1rem;

      .heading {
        font-family: "Open Sans", sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        font-size: 1.8rem;
        letter-spacing: 0.2rem;
        color: var(--gray-9);
        line-height: 1;
      }
    }
  
    .technodaya {
      font-family: 'Cormorant', serif;
      font-style: italic;
      font-size: 1.2rem;
      margin: 0 auto 3rem;
      border-bottom: solid 1px rgb(219, 219, 219);
      
      h1 {
        font-size: 50px;
      }
      
      p {
        max-width: 700px;
        margin: auto;
        padding: 1rem 3rem 3rem;
        line-height: 1.4;
      }
    }
  
    .team {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: stretch;
      background-color: rgb(254, 253, 253);
      border-bottom: solid 1px rgb(219, 219, 219);

    }
    .people {
      margin-bottom: 4rem;
    }

    .members {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem 1rem;
      margin-bottom: 2rem;
    }
  }
  