.preview {
    position: relative;
    --txt-area-padding: 0.325rem 0.625rem;
    --txt-field-padding: 1.625rem 1.125rem;

    textarea {
        padding: var(--txt-area-padding);
        background-color: white;
        border-bottom: solid 2px transparent;
    }

    textarea:hover {
        outline: none;
        background-color: #f8f8f8;
    }

    textarea:focus {
        outline: none;
        background-color: #fff;
        border-bottom: solid 2px rgb(117, 104, 84);
    }

    .formatted-preview-wrapper {
        position: relative;
        padding: var(--txt-field-padding);
        transition: 0.3s background-color ease;
        border: solid 1px transparent;
        overflow-y: auto;
        font-family: 'Crimson Text', serif;

        .previews {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            margin-bottom: 1.5rem;

            p,
            h1 {
                font-family: inherit;
                font-weight: 500;
            }

            textarea {
                border: none;
                border-bottom: solid 2px transparent;
            }

            textarea:focus {
                border-bottom: solid 2px rgb(117, 104, 84);
            }
        }
    }

    .markdown-support {
        font-family: 'Open Sans', sans-serif;

        p {
            display: flex;
            font-size: 0.75rem;
            color: #1e1f20;
            line-height: 1rem;
            letter-spacing: -0.005rem;

            .text-link {
                display: flex;
                text-decoration: none;
                color: inherit;
                line-height: inherit;

                .markdown-icon {
                    margin: 0 0.2rem;
                }
            }

            .text-link:hover {
                text-decoration: underline;
            }
        }
    }

    .formatted-preview-wrapper:hover {
        background-color: #f2f2f2;
        transition: 0.15s background-color ease;
    }

    .formatted-preview-wrapper.active {
        background-color: #f2f2f2;
    }

    .actions {
        display: flex;
        justify-content: center;
        padding: 0 1.125rem;
        --color: var(--gray-7);
        --bg: transparent;

        .btn {
            border-radius: 2rem;
            cursor: pointer;
            font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
            font-size: 1rem;
            font-weight: 600;
            border-radius: 0;
            min-width: 5rem;
            outline: transparent;
            padding: 0.625rem 2rem;
            position: relative;
            text-align: center;
            text-decoration: none;
            border: 2px solid var(--color);
            background-color: var(--bg);
            color: var(--color);
            user-select: none;
            transition: all 200ms ease;
            max-width: 12rem;
            flex-grow: 1;
            width: 100%;
        }

        .btn:first-child {
            border-top-left-radius: 10rem;
            border-bottom-left-radius: 10rem;
            margin-right: 2px;
        }

        .btn:last-child {
            border-top-right-radius: 10rem;
            border-bottom-right-radius: 10rem;
        }

        .btn.submit {
            --bg: rgb(117, 104, 84);
            --color: #fff;
            border-color: var(--bg);
        }

        .btn:hover {
            --color: white;
            --bg: var(--gray-8);
            border-color: var(--bg);
        }

        .btn:active {
            --color: white;
            --bg: var(--gray-9);
            border-color: var(--gray-9);
        }

        .btn[disabled], .btn[disabled]:hover {
            --color: var(--gray-6);
            --bg: transparent;
            border-color: var(--color);
            cursor: not-allowed;
        }

        .btn.submit[disabled], .btn.submit[disabled]:hover {
            --color: white;
            --bg: var(--gray-10);
            border-color: var(--bg);
        }

        .btn {
            position: relative;
            >svg {
                fill: currentColor;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        // .btn.submit[disabled]:hover {
        //     background-color: transparent;
        //     color: var(--color);
        // }
    }

    .image-preview {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 2rem 0 3rem;
        justify-content: center;
        width: 100%;
        align-items: center;

        img {
            width: 70%;
        }
    }

    .img-caption-preview {
        text-align: center;
        font-size: 0.8rem;
        font-style: italic;
        margin: 0.5rem 0;
    }
}