*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  
}
.Navbar 
{
  background-color:#1F406D;
  color:white;
  padding-top:8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:30px;
  
}


.innertext
{
  /* padding-bottom: 20px; */
  align-self: center;
}
.inner{
   display: flex;
   align-items: center;
}


.logoItems
{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content:center;
  gap:20px;
}

.homeButton
{
  background-color: #5BC0DE;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px;
}

.homeButton :hover
{
  background-color: #2fbce6;
}

.homeButton ::after
{
  background-color: #2694b5;
}

#logo 
{
   height: 80px;
   width: auto;
   margin-top: 15px;
}
.logoContaint
{
  color: #337AB7;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}

.collegeName
{
  font-size: medium;
  color:black;
}

.TopNavigation
{
  display: flex;
  flex-direction: row;
  gap:30px;
  justify-content: center;
  padding: 1rem;
  background-color: #2fbce6;
  
}
.TopNavigation .nav_items:hover{
   color: aliceblue;
   transform: scale(1.2);
   transition:  600ms ease;
}
.main{
 max-width: 1300px;
 margin-top: 2rem;
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   margin: auto;
   padding: 1rem;
}
.blog_card{
   width: 300px;
   height: auto;
   position: relative;
   box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);

}
.blog_card:hover{
  box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.2);
}
.blog_card.blogimg:hover{
transform: scale(1.2);
}
.blog_card img{
   width: 300px;
   height: 200px;


}
.cont{
  padding-top: 30px;
   max-width: 270px;
   margin: auto;
 margin-bottom: 5.7rem;

}
.cont h4{
  color: #444444;

}
.cont p{
  color: #666666;
}

 .blog_card .btn{
 background:  #67d6e7;
   padding: 10px;
   position: absolute;
   top: 90%;
}