*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Navbar 
{
  background-color:#1F406D;
  color:white;
  padding-top:8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:30px;
  
}


.innertext
{
  /* padding-bottom: 20px; */
  align-self: center;
}
.inner{
   display: flex;
   align-items: center;
}


.logoItems
{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content:center;
  gap:20px;
}

#logo 
{
   height: 100px;
   width: auto;
}
.logoContaint
{
  color: #337AB7;
  font-size: 30px;
  font-weight: bold;
}

.collegeName
{
  font-size: medium;
  color:black;
}