* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --nav-height: 2rem;

  @media screen and (max-width: 548px) {
    --nav-height: 4rem;
  }
}

html {
  scroll-padding-top: 1.5rem;
}

.txt {
  max-width: 1200px;
  margin: auto;
  padding-top: 1rem;

  span {
    border-bottom: 1px solid #283858;
  }
}


// ------- RESPONSIVE ----------
.wrap {
  max-width: 1200px;
  margin: auto;
}

//for news display 

.all-news {
  display: flex;
  margin: auto;
  max-width: 1200px;
  gap: 2rem;
  margin-top: 2rem;
  color: rgb(62, 61, 61);
}

.highlight {
  position: relative;
  height: 600px;
  width: 60%;
  overflow: hidden;
  margin-bottom: 3rem;

  img {

    height: 600px;
    width: 100%;
    z-index: 2;
    transition: 400ms ease-out;
  }


}

.writing {
  padding: 6rem .4rem;
  position: absolute;
  bottom: 0%;
  color: antiquewhite;
  height: 340px;
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0));
}


.zoom:hover {

  transform: scale(1.1);

}




.writing h1 {
  line-height: 1.6rem;
  padding-bottom: 1rem;

}

.writing p {
  line-height: 1.2rem;
}

.date {
  display: flex;
  gap: 0.3rem;
  padding: 3px 0;

}

.date img {
  width: 17px;
  height: 20px;
}

.red {
  color: red;
}

.news-block {
  width: 30%;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.block {
  display: flex;
  flex-direction: row;
  gap: .9rem;

  .in {
    display: flex;
    gap: .2rem;
    flex-direction: column;

  }

  h2:hover {
    color: rgb(15, 157, 15);
    font: 20px;

  }

  .img-sec {
    width: 30%;
    border: 1px solid black;

  }


}

hr {
  width: 100%;
}

.block {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .all-news {
    flex-direction: column;
    align-items: center;
    margin: 1rem;

    .highlight {
      width: 100%;
    }

    .news-block {
      width: 100%;
    }
  }
}

//end of news thisplay 


.insidetable {
  display: flex;
}

// show blogs 

//end of showblogs
// for news preview 


.textarea {
  width: 100%;
  height: auto;
  border: none;
  font-size: 14px;
}

.textarea:focus {
  outline: none;
}

.txtarea-wrapper {
  display: grid;
  --txt-font-size: 12px;

  .txtarea {
    display: block;
    border: none;
    resize: none;
    font-size: var(--txt-font-size);
    grid-area: 1 / 1 / 2 / 2;
    overflow: hidden;
  }

  .txtarea:focus {
    outline: none;
  }

  .grow-component {
    font-size: var(--txt-font-size);
    visibility: hidden;
    white-space: pre-wrap;
    grid-area: 1 / 1 / 2 / 2;
  }
}

//end

// navigation bar
.navbar-component {
  --nav-sticky-top: -166px;
  font-family: 'Crimson Text', serif;
  box-shadow: 0 -2px 8px rgb(0 0 0 / 32%);
  padding: 1px 0;
  position: sticky;
  top: var(--nav-sticky-top);
  z-index: 10;


  .banner {
    font-family: inherit;
    margin: 1.6rem 0 1.2rem;
    padding: 0 2rem;

    .logos {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 7.5rem;
      gap: 1.6rem;

      .sep {
        width: 2px;
        height: 65%;
        background-color: #747474c0;
      }

      .college-name {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        gap: 0.6rem;

        .nitap {
          font-weight: 600;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
      }
    }

    #nitapLogo {
      width: 100%;
      max-width: 120px;
      aspect-ratio: 116 / 120;
      min-width: 0;
    }

    #technodayaLogo {
      aspect-ratio: 821 / 100;
      max-height: 64px;
      width: 100%;
    }

  }


  .nav-items-wrapper {
    height: var(--nav-height);

    .nav-items {
      display: flex;
      flex-direction: row;
      gap: 0 1.6rem;
      justify-content: center;
      height: fit-content;
      background-color: white;
      align-items: center;

      a.nav-item {
        text-decoration: none;
        display: block;

        div.nav-item-txt {
          text-transform: uppercase;
          font-size: 0.95rem;
          height: 2rem;
          line-height: 2rem;
          vertical-align: middle;
          color: rgb(78, 78, 78);
          border-top: solid 2px transparent;
          border-bottom: solid 2px transparent;
          padding: 0 0.3rem;
        }

        div.nav-item-txt:hover {
          cursor: pointer;
          border-bottom: #2fbce6 2px solid;
          color: black;
          transition: 500ms ease;
        }

      }

      div.sep {
        height: calc(0.75 * 2rem);
        width: 1px;
        background-color: #64646452;
      }
    }
  }


  @media screen and (max-width: 720px) {
    .banner #nitapLogo {
      max-width: 96px;
    }

    .nav-items-wrapper {
      .nav-items {
        gap: 0 0.8rem;
        flex-wrap: wrap;

        div.sep {
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: 548px) {
    --nav-sticky-top: -91px;

    .banner {
      margin: 0.8rem 0;

      #technodayaLogo {
        max-height: 40px;
      }

      #nitapLogo {
        max-width: 50px;
      }

      .logos {
        gap: 0.75rem;
        height: 4rem;

        .college-name .nitap {
          display: none;
        }
      }
    }
  }
}

// add blogs

.add-blogs {
  --bg-img-url: url('../images/form-bg2.png');
  --bg-color: rgba(255, 255, 255, 0.97);
  background-image: var(--bg-img-url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 1px 0;

  --top-offset: 54px;

  .mobile-bg {
    display: none;
  }

  .activity-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 882px;
    width: 100%;
    padding: 0;
    gap: 0;
    background-color: transparent;

    .tablist-wrapper {
      box-sizing: content-box;
      --active-border-h: 5px;
      --active-color: rgb(117, 104, 84);
      --tablist-h: 2.375rem;
      padding: 2rem 1rem 0;
      height: var(--tablist-h);
      position: sticky;
      top: var(--nav-height);
      background-image: var(--bg-img-url);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      overflow: hidden;
      z-index: 1;

      .tablist {
        background-color: transparent;
        display: flex;
        height: var(--tablist-h);
        align-items: flex-end;
        overflow: visible;
        
        border-radius: 0.25rem 0.25rem 0 0;
        
        .tab {
          background-color: rgba(255, 255, 255, 0.5);
          color: rgb(74, 74, 74);
          border: none;
          display: block;
          font-size: 1rem;
          width: 100%;
          padding: 0.6rem;
          cursor: pointer;
          transition: 0.1s border ease, 0.15s background-color ease;
        }

        .tab:not(.active):hover {
          background-color: rgba(255, 255, 255, 0.6);
        }

        .active {
          background-color: var(--bg-color);
          border-top: solid var(--active-border-h) var(--active-color);
          color: var(--active-color);
          font-weight: 600;
          border-radius: 0.25rem 0.25rem 0 0;
          box-shadow: 0 0 11px rgb(0 0 0 / 12%);
        }
      }
    }

    .form-wrapper {
      margin: 0 1rem 2rem;
      background-color: var(--bg-color);
      padding: 3rem 2rem;
      border-radius: 0 0 0.25rem 0.25rem;
      overflow-y: auto;
      box-shadow: 0 5px 11px 0px rgb(0 0 0 / 12%);
      z-index: 0;

      .form-group {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;

        .form-control {
          box-shadow: none;
          outline: none;
          margin: 0.3rem 0 0.5rem;
          padding: 0.5rem 0.8rem;
        }

        select, input {
          background-color: transparent;
        }

        input {
          border: solid 2px transparent;
          border-radius: 0;
        }

        input.form-control[type="text"],
        input.form-control[type="number"],
        select.form-control {
          width: 100%;
        }

        .radio-inputs {
          padding: 0.8rem 0.8rem 0.4rem;
          display: flex;
          flex-direction: row;
          gap: 1.2rem;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

          .radio-btn {
            font-family: inherit;
          }
        }

        input[type="text"],
        input[type="number"] {
          font-family: 'Times New Roman', Times, serif;
        }

        input[type="text"]:focus,
        input[type="number"]:focus,
        input[type="date"]:focus,
        select:focus {
          border: solid 2px rgb(57, 57, 160);
        }

        input[type="text"].form-title {
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size: 2.2rem;
          font-weight: 600;
        }

        p.sub-label {
          color: #444749;
          font-weight: 600;
          font-size: 0.8rem;
          font-family: inherit;
          margin: 1.2rem 0 0.6rem;
        }

        .form-field {
          position: relative;
          display: block;
          margin: 0.8rem 0;

          .field-label {
            position: absolute;
            top: -0.2rem;
            font-size: 0.7rem;
            line-height: 1;
            margin-bottom: 0;
            padding: 0 0.3rem 0.1rem;
            left: 1rem;
            font-family: sans-serif;
            color: rgb(57, 57, 160);
            background-color: #fff;
          }

        }

        .list-component {
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

          h4.list-heading {
            font-size: 1rem;
            font-family: inherit;
            font-weight: 500;
            color: rgb(51, 72, 110);
            margin: 1rem 0 0.3rem;
          }

          table.list-table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            max-width: 100%;
            margin-bottom: 1rem;

            tr {
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              line-height: 1.8;

              td {
                padding: 0.5rem;
                font-family: inherit;
                color: rgb(65, 65, 65);
                font-size: 0.9rem;
                text-align: left;
                border-bottom: 1px solid #dedede;
              }

              td.rm-td {
                text-align: right;
              }
            }

            td.tr-number {
              font-weight: 600;
            }

            .rm {
              position: relative;
              height: 1.8rem;
              width: 1.8rem;
              background-color: transparent;
              color: rgb(65, 65, 65);
              font-family: sans-serif;
              border: none;
              border-radius: 50%;
              transition: background-color 0.15s ease, color 0.3s ease;

              img {
                height: 60%;
                width: 60%;
                position: absolute;
                transform: translate(-50%, -50%);
              }
            }

            .rm:hover {
              background-color: rgba(95, 99, 104, 0.157);
            }

            .rm:active {
              background-color: rgb(247, 164, 164);
            }
          }
        }

        .person-form {
          display: flex;
          flex-direction: row;
          border: solid 1px #ced4da;
          margin: 0.3rem 0;

          .form-field {
            margin: 0;

            input,
            select {
              border: solid 2px transparent;
              border-radius: 0;
              outline: none;
            }

            input[type="text"] {
              padding: 0.5rem 0.8rem;
              width: 100%;
            }

            input[type="button"] {
              height: 100%;
              width: 2.5rem;
            }

            select {
              height: 100%;
            }

            .list-add {
              font-weight: 600;
              font-size: 1.2rem;
              background-color: transparent;
              transition: all 0.1s ease-in-out;
            }

            .list-add:hover,
            .list-add:focus {
              background-color: rgb(240, 240, 253);
            }

            .list-add:active {
              background-color: rgb(179, 179, 230);
            }
          }

          .form-field.short-field {
            flex: 1 1 6.4rem;
          }

          input[type="text"]:focus,
          select:focus {
            border: solid 2px rgb(57, 57, 160);
          }
        }
      }

    }
  }

  .activity-form {
    .preview {
      font-family: 'Times New Roman', Times, serif;
      position: relative;
      flex: 3 1 0;

      .prevbtn {
        display: flex;
        justify-content: space-around;
      }

      .image-preview {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;
        justify-content: center;
        width: 100%;
        align-items: center;

        img {
          width: 70%;
          border: 1px solid black;
        }
      }


      .img-caption-preview {
        text-align: center;
        font-size: 0.8rem;
        font-style: italic;
        margin: 0.5rem 0;
      }
    }

    .previewtell {
      color: #363535;
    }

    .head {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 1rem;
    }

    .submit {
      background: #8a00cf;
    }

    .reset {
      background: red;

    }


    .btn {

      font-size: smaller;
      font-weight: bold;
      color: #fff;
      padding: .6rem 2rem;
      margin: 1rem 1rem;
      box-shadow: 0 1px 10px 0 rgba(28, 28, 29, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.397);

    }

    .btn:hover {
      transition: 900ms ease;
      // box-shadow: 1px 1px 4px -4px black;
      box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1)
    }

  }

  @media screen and (max-width: 548px) {
    background-image: none;

    .mobile-bg {
      display: block;
      background-image: var(--bg-img-url);
      background-size: cover;
      width: 100%;
      height: 96px;
    }

    .activity-form {
      flex-direction: column-reverse;

      .form-wrapper {
        margin: 0;
        border-radius: 0;
      }

      .tablist-wrapper {
        position: sticky;
        bottom: 0;
        padding: 0;
        box-shadow: rgb(0 0 0 / 10%) 0px -3px 6px 0px;
        height: fit-content;
        background-image: none;
        
        .tablist {
          height: fit-content;
          background-color: #f8f8f8;
          .tab {
            padding: 1rem;
            font-size: 1.05rem;
            color: #616161;
          }
          .tab.active {
            background-color: initial;
            color: #007e7c;
            border-radius: 0;
            box-shadow: none;
            border: none;
          }
        }
      }
    }
  }

  .container.form-ctnr {
    .form-group {
      margin: 2rem 0;
      padding: 3rem 2rem;
      background-color: #fff;
      border-radius: 0.25rem;
      box-shadow: 0 2px 8px -5px #696969cf,
        0 -2px 6px -5px #7b7b7b8a;
      max-width: 720px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

      label,
      p.sub-label {
        font-family: inherit;
        color: #757575;
        font-size: 0.75rem;
        font-weight: 600;
      }

      p.sub-label {
        padding-left: 0.05rem;
        margin: 1.5rem 0 0.4rem;
      }

      .form-field {
        font-family: inherit;
        margin: 0.2rem 0 0.4rem;

        label {
          font-family: inherit;
          margin-bottom: 0.3rem;
        }

        select {
          font-size: 0.85rem;
        }

        select:focus {
          box-shadow: none;
        }

        input,
        textarea {
          border: solid 2px transparent;
          font-size: 0.85rem;
          padding: 0.375rem 0.75rem;
        }

        input[type=date] {
          outline: none;
        }

        input[type="text"],
        input[type="number"],
        input[type="date"],
        textarea {
          padding-left: 0;
          padding-right: 0;

        }

        .form-title {
          font-size: 2.2rem;
          font-weight: 600;
        }

        textarea {
          min-height: 180px;
          width: 100%;
        }

        input:focus {
          box-shadow: none;
          border-bottom: solid 2px blue;
        }

        textarea:focus {
          box-shadow: none;
          border-top: solid 2px blue;
          border-bottom: solid 2px blue;
        }

        button.LoginAuthBtn {
          background-color: white;
          color: #333;
          border: solid 1px rgb(71, 71, 71);
          border-radius: 0.2rem;
          font-weight: 500;
          padding: 0.25rem 0.8rem;
          font-size: 0.9rem;
          font-family: Arial, Helvetica, sans-serif;
          transition: all 0.3s ease;
        }

        button.LoginAuthBtn:hover {
          background-color: #2c2c2c;
          color: #ccc;
        }

        button.LoginAuthBtn:focus {
          background-color: #181818;
          color: white;

        }

        .list-fields {
          font-family: inherit;
          display: flex;
          flex-direction: row;
          gap: 1rem 0.5rem;
          flex: 1 1 10px;
        }
      }

      .form-field.select {
        background-color: #f5f5f5;
      }
    }
  }
}

// add activity ends


//magazine styling


.magazine-wrapper {
  scroll-padding-top: 1rem;

  p,
  li {
    letter-spacing: -.01rem;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: rgb(75, 75, 75);

    font-family: 'Cormorant Garamond', serif;
    // font-family: 'Crimson Text', serif;;
  }

  // display: flex;
  display: grid;
  gap: 2rem;
  grid-template-columns: minmax(0, auto) minmax(0, 2fr) minmax(0, 1fr);
  // gap: 2rem;
  max-width: 1600px;
  margin: auto;
  padding: 2rem;
  --top-offset: 1.5rem;

  .magazine {
    padding-top: var(--top-offset);

    ul {
      padding-left: 0;
    }

    .magazine-section {
      h1 {
        line-height: 1;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
        border-bottom: solid 2px rgb(196, 196, 196);
        font-weight: 700;
      }

      p {
        font-family: 'Crimson Text', serif;
        font-size: 1.05rem;
        font-weight: 400;
        color: rgb(44, 43, 43);
        line-height: 1.5;
      }

      li {
        font-weight: 800;
        font-family: 'Crimson Text', serif;
        ;
        font-size: 1.15rem;
      }

      li::marker {
        padding-right: .2rem;
        font-size: 1.5rem;
        color: rgb(119, 119, 119);
      }
    }

    .mag-images {
      width: 100%;

      .img-wrapper {
        margin: 2rem auto 1rem;
        width: 480px;
        // max-height: 375px;
        border-radius: 0.25rem;
        overflow: hidden;
        box-shadow: 0 1px 10px 0 rgba(28, 28, 29, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.397);

        img {
          width: 100%;
          height: auto;
        }
      }

      .img-caption {
        text-align: center;
        font-style: oblique;
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }

  .read-more {
    padding-top: var(--top-offset);

    h4 {
      font-weight: 700;
    }


    ul {
      color: rgb(72, 70, 70);
      display: flex;
      flex-direction: column;
      gap: .6rem;
      padding-left: 0.5rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

      li {
        font-family: inherit;
        list-style: none;

        border-bottom: 0.8px solid rgb(215 215 215);

        h6:hover {
          color: green;
          cursor: pointer;
        }

        h6 {
          // font-family: inherit;
          font-weight: 700;
          font-size: 1.1rem;
          padding: 0;
          margin: 0;
        }

        time {
          color: rgb(59, 59, 59);
          font-size: 0.8rem;
          font-family: 'Courier New', Courier, monospace;

          .daate {
            width: 10px;
          }
        }
      }
    }
  }

  .magazine-toc {
    .toc {
      position: sticky;
      top: 0;
      padding-top: var(--top-offset);

      h4 {
        font-weight: 700;
      }


      li {
        list-style: none;
        border-left: 2px solid rgb(105, 154, 219);

        font-size: 0.9rem;
        padding: 0.6rem 1rem;
        margin: 0;
        color: rgb(75, 80, 86);
        border-left: solid 2px rgb(195, 202, 209);

        a {
          text-decoration: none;
          color: rgb(65, 64, 64);
        }
      }

      li:hover {
        color: black;
        border-left: 3px solid rgb(46, 140, 235);
      }
    }
  }

}



// ends here

//end
.Footer {
  background-color: #181818;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.Academic {
  padding: 10px;
  margin-top: 15px;
  border-bottom: 2px solid rgb(18, 244, 18);
  margin-bottom: 10px;
}

.college {
  padding: 10px;
  margin-top: 15px;
  border-bottom: 2px solid rgb(18, 244, 18);
  margin-bottom: 10px;
}

.QLinks {
  padding: 10px;
  margin-top: 15px;
  border-bottom: 2px solid rgb(18, 244, 18);
  margin-bottom: 10px;
}

.ExternalLinks {
  padding: 10px;
  margin-top: 15px;
  border-bottom: 2px solid rgb(18, 244, 18);
  margin-bottom: 10px;
}


.products-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}


.Main_box {
  font-family: 'Times New Roman', Times, serif;
  margin: auto;
  color: black;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px 3px rgb(100, 99, 99);
  max-width: 1000px;
  margin-top: 5rem;
  padding: 3rem;
  margin-bottom: 5rem;
  position: relative;
  // background-color: white;
  // background-image: url('../images/bg5.jpg');

  background-image: linear-gradient(rgba(255, 250, 250, 0.5), rgba(255, 255, 255, 0.5)), url('../images/bg5.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .wrapper {
    max-width: 950px;
    margin: auto;
    border: 2px solid rgb(255, 3, 95);
    padding: 3rem;
  }

  .MAIN {
    font-size: 20px;
    font-weight: 400;
  }

  .SUBHEAD {
    font-size: 14px;

  }

  .PARA {
    font-size: 12px;
  }

  .content {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
  }

  .CollgeLogo {
    width: 100px;
    height: auto;
    // background: rgba(0, 0, 0, 0.1);

  }

  .titlebox {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;

    .DATE {
      border-bottom: 2px solid rgb(55, 169, 13);
    }
  }

  .images {
    padding: 10px;
    margin: auto;
    display: block;
    border-radius: 6px;
    min-width: 300px;
    width: 90%;

    height: auto;
  }

  .image-title {
    font-style: italic;
    font-size: 12px;
    text-align: center;
  }
}

.Toprint {
  background-color: rgb(226, 212, 14);
  padding: 7px;
  border: none;
  margin: auto;
  margin-left: 46%;
  margin-right: 20px;
  border-radius: 3px;
  margin-bottom: 30px;
  font-weight: bold;
}

.Toprint :hover {
  background: rgb(255, 67, 67);
}

.share {
  background-color: rgb(67, 194, 67);
  color: white;
  padding: 7px;
  border: none;
  font-weight: bold;
  text-align: center;
  margin: auto;
}




.bg1 {
  background-image:
    linear-gradient(rgba(255, 250, 250, 0.5), rgba(255, 255, 255, 0.5)),
    url('../images/bg1.jpg');
  // linear-gradient(180deg, rgba(202, 58, 58, 0.5) 0%, rgba(143, 38, 38, 0.5) 100%);


}

.bg2 {
  background: linear-gradient(rgba(255, 250, 250, 0.5), rgba(255, 255, 255, 0.5)),
    url('../images/bg2.jpg') // linear-gradient(180deg, rgba(202, 58, 58, 0.5) 0%, rgba(143, 38, 38, 0.5) 100%);

  ;
}

.bg3 {
  background: linear-gradient(rgba(255, 250, 250, 0.5), rgba(255, 255, 255, 0.5)),
    url('../images/bg3.jpg') // linear-gradient(180deg, rgba(202, 58, 58, 0.5) 0%, rgba(143, 38, 38, 0.5) 100%);

  ;
}

.bg4 {
  background: linear-gradient(rgba(255, 250, 250, 0.5), rgba(255, 255, 255, 0.5)),
    url('../images/bg4.jpg') // linear-gradient(180deg, rgba(202, 58, 58, 0.5) 0%, rgba(143, 38, 38, 0.5) 100%);

  ;
}

.bg5 {
  background: linear-gradient(rgba(255, 250, 250, 0.5), rgba(255, 255, 255, 0.5)),
    url('../images/bg5.jpg') // linear-gradient(180deg, rgba(202, 58, 58, 0.5) 0%, rgba(143, 38, 38, 0.5) 100%);

  ;
}


.bg6 {
  background: linear-gradient(rgba(255, 250, 250, 0.5), rgba(255, 255, 255, 0.5)),
    url('../images/bg6.jpg') // linear-gradient(180deg, rgba(202, 58, 58, 0.5) 0%, rgba(143, 38, 38, 0.5) 100%);

  ;
}

.bg7 {
  background: linear-gradient(rgba(255, 250, 250, 0.5), rgba(255, 255, 255, 0.5)),
    url('../images/bg7.jpg') // linear-gradient(180deg, rgba(202, 58, 58, 0.5) 0%, rgba(143, 38, 38, 0.5) 100%);

  ;
}

.bg8 {
  background: linear-gradient(rgba(255, 250, 250, 0.5), rgba(255, 255, 255, 0.5)),
    url('../images/bg8.jpg') // linear-gradient(180deg, rgba(202, 58, 58, 0.5) 0%, rgba(143, 38, 38, 0.5) 100%);

  ;
}

.bg9 {
  background: linear-gradient(rgba(255, 250, 250, 0.5), rgba(255, 255, 255, 0.5)),
    url('../images/bg9.jpg') // linear-gradient(180deg, rgba(202, 58, 58, 0.5) 0%, rgba(143, 38, 38, 0.5) 100%);

  ;
}

.bg10 {
  background: linear-gradient(rgba(255, 250, 250, 0.5), rgba(255, 255, 255, 0.5)),
    url('../images/bg10.jpg') // linear-gradient(180deg, rgba(202, 58, 58, 0.5) 0%, rgba(143, 38, 38, 0.5) 100%);

  ;
}


.bg11 {
  background: linear-gradient(rgba(255, 250, 250, 0.5), rgba(255, 255, 255, 0.5)),
    url('../images/bg11.jpg') // linear-gradient(180deg, rgba(202, 58, 58, 0.5) 0%, rgba(143, 38, 38, 0.5) 100%);

  ;
}

.bg12 {
  background: linear-gradient(rgba(255, 250, 250, 0.5), rgba(255, 255, 255, 0.5)),
    url('../images/bg12.jpg') // linear-gradient(180deg, rgba(202, 58, 58, 0.5) 0%, rgba(143, 38, 38, 0.5) 100%);

  ;
}

.bg13 {
  background: linear-gradient(rgba(255, 250, 250, 0.5), rgba(255, 255, 255, 0.5)),
    url('../images/bg13.jpg') // linear-gradient(180deg, rgba(202, 58, 58, 0.5) 0%, rgba(143, 38, 38, 0.5) 100%);

  ;
}

.bg14 {
  background: linear-gradient(rgba(255, 250, 250, 0.5), rgba(255, 255, 255, 0.5)),
    url('../images/bg14.jpg') // linear-gradient(180deg, rgba(202, 58, 58, 0.5) 0%, rgba(143, 38, 38, 0.5) 100%);

  ;
}

.bg15 {
  background: linear-gradient(rgba(255, 250, 250, 0.5), rgba(255, 255, 255, 0.5)),
    url('../images/bg15.jpg') // linear-gradient(180deg, rgba(202, 58, 58, 0.5) 0%, rgba(143, 38, 38, 0.5) 100%);

  ;
}


.bg16 {
  background: linear-gradient(rgba(255, 250, 250, 0.5), rgba(255, 255, 255, 0.5)),
    url('../images/bg16.jpg') // linear-gradient(180deg, rgba(202, 58, 58, 0.5) 0%, rgba(143, 38, 38, 0.5) 100%);

  ;
}

.bg17 {
  background: linear-gradient(rgba(255, 250, 250, 0.5), rgba(255, 255, 255, 0.5)),
    url('../images/bg2.jpg'), // linear-gradient(180deg, rgba(202, 58, 58, 0.5) 0%, rgba(143, 38, 38, 0.5) 100%);

  ;
}

.bg18 {
  background: linear-gradient(rgba(255, 250, 250, 0.5), rgba(255, 255, 255, 0.5)),
    url('../images/bg18.jpg') // linear-gradient(180deg, rgba(202, 58, 58, 0.5) 0%, rgba(143, 38, 38, 0.5) 100%);

  ;
}

.bg19 {
  background: linear-gradient(rgba(255, 250, 250, 0.5), rgba(255, 255, 255, 0.5)),
    url('../images/bg19.jpg') // linear-gradient(180deg, rgba(202, 58, 58, 0.5) 0%, rgba(143, 38, 38, 0.5) 100%);

  ;
}

.bg20 {
  background: linear-gradient(rgba(255, 250, 250, 0.5), rgba(255, 255, 255, 0.5)),
    url('../images/bg20.jpg') // linear-gradient(180deg, rgba(202, 58, 58, 0.5) 0%, rgba(143, 38, 38, 0.5) 100%);

  ;
}

.SignUpBtn {
  margin-top: 10px;
  padding: 10px;
  background-color: #1F406D;
  color: white;
  margin-bottom: 10px;
  border-radius: 4px;
  border: none;
}

.LoginBtn {
  margin-top: 10px;
  padding: 10px;
  background-color: #1F406D;
  color: white;
  margin-bottom: 10px;
  border-radius: 4px;
  border: none;
}